@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'OpenSans';
        src: local('OpenSans'),
        url('@/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth_wght.woff2') format('woff2'),
        url('@/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth_wght.woff') format('woff'),
        url('@/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth_wght.ttf') format('ttf'),
        url('@/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth_wght.eot') format('eot');
    }


}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.li-item:hover{
    border-left: 5px solid #FFC107;
}